* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
img {
  display: block;
}

#header{
  position:relative;
  z-index:100;
}
#header .hd_top{
  position:relative;
  background: #f9f9f9;
   border-bottom:1px solid #ececec;
   height:34px;
}
#header h1.logo{
  width:199px; position: absolute;
   top: 55px;
    left:60px;
    z-index: 110
  }
#header h1.logo img.ico {
  height:45px;
  margin-top:0;
  display:none
}